{ config, ... }:

{
  networking = {
    networkmanager.enable = true;
    hostName = "woodford";
    defaultGateway = "10.229.0.1";
  };

  environment.etc."NetworkManager/system-connections/simian.collingwood" = {
    text = ''
      [connection]
      id=simian.collingwood
      uuid=00112233-4455-6677-8899-aabbccddeeff
      type=wifi

      [wifi]
      ssid={{ wireless_ssid }}

      [wifi-security]
      psk={{ wireless_psk }}

      [ipv4]
      method=auto
    '';
    mode = "0400";
  }
}
