{ config, ... }:

{
  networking = {
    useDHCP = false;
    dhcpcd.enable = false;
    networkmanager.enable = false;
    wireless.enable = true;
    wireless.networks = {
      "{{ wireless_ssid }}" = {
        psk = "{{ wireless_psk }}";
      };
    };
    hostName = "woodford";
    defaultGateway = "10.229.0.1";
    interfaces.wlp0s20f3 = {
      ipv4.addresses = [
        {
          address = "10.229.0.40";
          prefixLength = 16;
        }
      ];
    };
  };
}
