{
  pkgs,
  modulesPath,
  lib,
  ...
}:
{
  imports = [
    "${modulesPath}/installer/cd-dvd/installation-cd-minimal.nix"
  ];

  networking = {
    networkmanager.enable = true;
    wireless.enable = false;
    hostName = "nixup";
  };

  environment.etc."NetworkManager/system-connections/simian.collingwood.nmconnection" = {
    text = ''
      [connection]
      id={{ wireless_ssid }}
      uuid=166120e1-3fd9-422e-8617-fa49a597abf5
      type=wifi
      interface-name=wlo1

      [wifi]
      mode=infrastructure
      ssid={{ wireless_ssid }}

      [wifi-security]
      auth-alg=open
      key-mgmt=wpa-psk
      psk={{ wireless_psk }}

      [ipv4]
      method=auto

      [ipv6]
      addr-gen-mode=default
      method=auto

      [proxy]
    '';
    mode = "0400";
  };

  boot.kernelPackages = pkgs.linuxPackages_latest;

  users.users.root = {
    isNormalUser = false;
    hashedPassword = "{{ user_password_hashed }}";
  };

  users.users.nixos = {
    isNormalUser = true;
    hashedPassword = "{{ user_password_hashed }}";
  };

  users.users."{{ username }}" = {
    isNormalUser = true;
    description = "{{ username }}";
    hashedPassword = "{{ user_password_hashed }}";
    extraGroups = [
      "networkmanager"
      "wheel"
    ];
    packages = with pkgs; [
      neovim
      git
      curl
      wget
      python3
      python3Packages.ansible
    ];
    openssh.authorizedKeys.keys = [
      "{{ ssh_hsm_key }}"
      "{{ ssh_bastion_key }}"
    ];
  };

  services.getty = {
    autologinUser = "{{ username }}";
  };

  systemd.services.update-motd = {
    description = "Update MOTD with IP Address (With Colors)";
    after = [ "network-online.target" ];
    wantedBy = [ "multi-user.target" ];
    serviceConfig = {
      Type = "oneshot";
      ExecStart = ''
        # Define ANSI color codes
        GREEN="\033[1;32m"
        CYAN="\033[1;36m"
        YELLOW="\033[1;33m"
        RESET="\033[0m"

        # Start building MOTD
        echo -e "$GREEN Welcome to $(hostname) $RESET" > /etc/motd
        echo -e "" >> /etc/motd

        echo -e "$CYAN IP Addresses: $RESET" >> /etc/motd
        ip addr show | grep "inet " | awk '{print "  " $2}' >> /etc/motd

        echo -e "" >> /etc/motd
        echo -e "$YELLOW Have a great day! $RESET" >> /etc/motd
      '';
    };
  };

  # Needed for https://github.com/NixOS/nixpkgs/issues/58959
  boot.supportedFilesystems = lib.mkForce [
    "btrfs"
    "reiserfs"
    "vfat"
    "f2fs"
    "xfs"
    "ntfs"
    "cifs"
  ];
}
